<ul>
      <!--<li>
        <a href = "{{ '/' | relative_url }}">
          Accueil
        </a>
      </li>-->
     <li>
        <a href = "{{ 'DN/' | relative_url }}">
          Longs
        </a>
      </li>
      <li>
        <a href = "{{ 'MN/' | relative_url }}">
          Moyens
        </a>
      </li>
      <li>
        <a href = "{{ 'MN/' | relative_url }}">
          Connecté
        </a>
      </li>
      <li>
        <a href = "{{ 'MN/' | relative_url }}">
          Numéroté
        </a>
      </li>
      <li>
        <a href = "{{ 'about/' | relative_url }}">
          Source
        </a>
      </li>
      <!--<li>
        <a href = "{{ 'blog/' | relative_url }}">
          Blog
        </a>
      </li>
      <li>
        <a href = "{{ site.resume_url | relative_url }}">
          Resume
        </a>
      </li>-->
</ul>
