<ul>
      <!--<li>
        <a href = "{{ '/' | relative_url }}">
          Accueil
        </a>
      </li>-->
     <li>
        <a href = "{{ 'DN/' | relative_url }}">
          Dīgha Nikāya
        </a>
      </li>
      <li>
        <a href = "{{ 'MN/' | relative_url }}">
          Majjhima Nikaya
        </a>
      </li>
      <li>
        <a href = "{{ 'MN/' | relative_url }}">
          Samyutta Nikāya
        </a>
      </li>
      <li>
        <a href = "{{ 'MN/' | relative_url }}">
          Anguttara Nikaya
        </a>
      </li>
      <li>
       <li>
        <a href = "{{ 'MN/' | relative_url }}">
          Khuddaka Nikāya
        </a>
      </li>
      <li>
        <a href = "{{ 'about/' | relative_url }}">
          Source
        </a>
      </li>
      <!--<li>
        <a href = "{{ 'blog/' | relative_url }}">
          Blog
        </a>
      </li>
      <li>
        <a href = "{{ site.resume_url | relative_url }}">
          Resume
        </a>
      </li>-->
</ul>
